.column { width: 270px; float: left; padding-bottom: 100px; }
.portlet { margin: 0 1em 1em 0; }
.portlet-header { margin: 0.3em; padding-bottom: 4px; padding-left: 0.2em; }
.portlet-header .ui-icon { float: right; }
.portlet-content { padding: 0.4em; }
.ui-sortable-placeholder { border: 1px dotted black; visibility: visible !important; height: 50px !important; }
.ui-sortable-placeholder * { visibility: hidden; }

#twitter li {
  list-style-type: none;
  margin: 0 0 0.25em;
	
	background:none repeat scroll 0 0 darkgrey;
	color:#EEEEEE;
	display:block;
	padding:0.25em;
	text-decoration:none;
	width:12em;
}

#twitter ul {
	margin: 0;
	padding: 0;
	width: 0;
}

#twitter li img {
	float: right;
	margin-right: 3px;
}

#twitter input {
	width: 240px;
}

#errorExplanation {
	background-color: grey;
	padding: 8px;
}
#errorExplanation {
	font-size: 9pt;
}
#errorExplanation h2 {
	font-size: 12pt;
}
